
.wrapper 
   .cards__grid
      +card('backgroundCad1.png', 'cardTitle1.png', 'cardimage1.png', 'Casino Game')
      +card('backgroundcard2.png', 'cardTitle2.png', 'cardimage2.png', 'Casino Game')
      +card('backgroundcard3.png', 'cardTitle3.png', 'cardimage3.png', 'Casino Game')
      +card('backgroundcard4.png', 'cardTitle4.png', 'cardimage4.png', 'Casino Game')
      +card('backgroundcard5.png', 'cardTitle5.png', 'cardimage5.png', 'Casino Game')
      +card('backgroundcard6.png', 'cardTitle6.png', 'cardimage6.png', 'Casino Game')

