
.company 
   .company__logo
      +image('companyLogo1.png')(class='company__logo-image')
      +image('companyLogo2.png')(class='company__logo-image')
      +image('companyLogo3.png')(class='company__logo-image')
      +image('companyLogo4.png')(class='company__logo-image')
      +image('companyLogo5.png')(class='company__logo-image')
      +image('companyLogo6.png')(class='company__logo-image')
      +image('companyLogo1.png')(class='company__logo-image')
      +image('companyLogo2.png')(class='company__logo-image')
      +image('companyLogo3.png')(class='company__logo-image')
      +image('companyLogo4.png')(class='company__logo-image')
      +image('companyLogo5.png')(class='company__logo-image')
      +image('companyLogo6.png')(class='company__logo-image')
      +image('companyLogo1.png')(class='company__logo-image')
      +image('companyLogo2.png')(class='company__logo-image')
      +image('companyLogo3.png')(class='company__logo-image')
      +image('companyLogo4.png')(class='company__logo-image')
      +image('companyLogo5.png')(class='company__logo-image')
      +image('companyLogo6.png')(class='company__logo-image')
      
      