footer
   .wrapper 
      .footer__content
         .footer__block 
            .footer__logo 
               +image('logo.svg')
            .footer__descr.games 
               p Games
               a(href="#") Casino
               a(href="#") Sportsbook
               a(href="#") MultiFlip
               a(href="#") Cups
               a(href="#") NFT Auction Game
            .footer__descr.websites 
               p Websites
               a(href="#") Degendevil.com
               a(href="#") Multiflip.io
               a(href="#") Degenflipcup.io
            .footer__descr.community 
               p Community
               a(href="#") Twitter
               a(href="#") Discord
               a(href="#") Instagram
            .footer__descr.support 
               p Support
               a(href="#") Contact Us
               a(href="#") Terms of Use