.line 
   .dashed__line 
   .runing__line 
      p.runing__line-text SOL NFT <span>WEEKLY </span> JACKPOT / <span>WEEKLY </span> SOL NFT <span>WEEKLY </span> JACKPOT / <span>WEEKLY </span> SOL NFT <span>WEEKLY </span> JACKPOT / <span>WEEKLY </span>
      //- p.runing__line-text-white JACKPOT / SOL NFT 
      //- p.runing__line-text-opasity WEEKLY 
   .dashed__line