.wrapper
   .players 
      .plaers__content 
         .players__title RECENT PLAYS
         .recentPlays 
            +players('userLogo1.png', '(GMyHd)', 'WON', '320', 'SUITE', 'userValue.png', 'on a 2X Bet')
            +players('userLogo2.png', '(EDehT)', 'WON', '0.0665', 'SOL', 'userValue2.png', 'on a 1.33X Bet')
            +players('userLogo1.png', '(GMyHd)', 'WON', '640', 'SUITE', 'userValue.png', 'on a 2X Bet')
            +players('userLogo1.png', '(GMyHd)', 'LOST', '160', 'SUITE', 'userValue.png', 'on a 2X Bet')
            +players('userLogo7.png', '(2KbzC)', 'LOST', '0.25', 'SOL', 'userValue.png', 'on a 2X Bet')
            +players('userLogo5.png', '(J9QF2)', 'LOST', '200', 'SILVER', 'userValue3.png', 'on a 2X Bet')
            +players('userLogo6.png', '(6hzte)', 'WON', '33.25', 'POGR', 'userValue3.png', 'on a 1.33X Bet')
            +players('userLogo7.png', '(2KbzC)', 'WON', '0.1', 'SUITE', 'userValue2.png', 'on a 2X Bet')

